
.header {
  margin-bottom: 20px;
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.fool-width {
  width: 100%;
  display: block;
}


.input-row {
  min-height: 56px ;
  display: flex;
  align-items: center;
}
