<mat-toolbar color="primary" class="header">
  <span>Application</span>
  <a routerLink="/second" id="link-to-second">second page</a>
</mat-toolbar>
<mat-card class="form">
  <form [formGroup]="mainForm" novalidate id="main-form">
    <mat-card-title class="form-title" id="form-title">
      Form
    </mat-card-title>
    <mat-card-content>

      <div class="input-row" id="name">
        <div class="input-block fool-width">
          <mat-form-field class="fool-width">
            <input matInput placeholder="Name" formControlName="name" name="name">
          </mat-form-field>
        </div>
        <div class="error-box" *ngIf="mainForm.controls['name'].invalid && mainForm.controls['name'].touched">
          <span class="error-message" *ngIf="mainForm.controls['name'].errors.required">name is required</span>
        </div>
      </div>

      <div class="input-row" id="email">
        <div class="input-block fool-width">
          <mat-form-field class="fool-width">
            <input matInput placeholder="Email" formControlName="email" name="email">
          </mat-form-field>
        </div>
        <div class="error-box" *ngIf="mainForm.controls['email'].invalid && mainForm.controls['email'].touched">
          <span class="error-message" *ngIf="mainForm.controls['email'].errors.email && mainForm.controls['email'].value">email not valid</span>
          <span class="error-message" *ngIf="mainForm.controls['email'].errors.required">email is required</span>
        </div>
      </div>

      <div class="input-row">
        <mat-radio-group name="gender" [(value)]="favoriteGender" formControlName="gender" id="gender">
          <mat-radio-button name="gender" *ngFor="let gender of genders"  [value]="gender">
            {{gender}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="input-row">
        <select name="age" id="age" [(value)]="selectedAge" formControlName="age">
          <option *ngFor="let age of ages" [value]="age">{{ age }}</option>
        </select>
      </div>

      <div class="input-row">
        <my-date-picker [options]="myDataPickerOptions" formControlName="date"  name="date" id="datapicker"></my-date-picker>
      </div>

      <button type="button" mat-raised-button id="submit-button" color="primary" (click)="submitForm(mainForm)" [disabled]="mainForm.invalid">Send data</button>
      <div *ngIf="isSubmited" id="submit-success">form submited</div>
    </mat-card-content>
  </form>

</mat-card>
